@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto:wght@400;500&display=swap);

head, body {
  font-family: 'Roboto', sans-serif;
  margin: 0%;
}

.uperleft{
    width: 85%;
    height: 60%;
    background-color: white;
    text-align: justify;
    margin-left: 5%;
    padding: 5;
}
.fieldsum{
    height: 40%;
    width: 115%;
    background-color: white;
    margin-left: 2%;
}
.buta{
  height: 25%;
  width: 35%;
  color: white;
  background-color: #17b;
  font-size: 130%;
}

.voltar{
  height: 25%;
  width: 35%;
  color: white;
  background-color: lightskyblue;
  font-size: 130%;
}

.tablefaltas{
  background-color: #17b;
  border: 1px solid #17b;
  width: 100%;
  text-align:center;
}
.tablefaltas td{
  border: 1px solid #17b;
  background-color: white;
}
.tablefaltas th{
  background-color: white;
  border: 1px solid #17b;
}
