@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto:wght@400;500&display=swap);

head, body {
  font-family: 'Roboto', sans-serif;
  margin: 0%;
  background-image: url(../imagens/login_background.jpg);
}

/*
    Header
*/

.logo{
    height: 20%;
}

/*
    Select
*/

.select_css{
    background-color:transparent;
    border: 2px solid white;
    border-radius: 25%;
    color: white;
    font-size: 140%;
}
.select_css :focus{
    border-radius: 25%;
}
.select_css option{
    background-color: rgb(60, 71, 75);
}
.select_css::selection{
    background-color: #17a;
    text-align: justify;
}

/*
    Select de modificar e remover (tabelas)
*/


.modselect_css{
    background-color:transparent;
    border: 2px solid black;
    color: white;
    height: 100%;
    width: 100%;
    font-size: 100%;
}
.modselect_css :focus{
    border-radius: 25%;
}
.modselect_css option{
    background-color: rgb(60, 71, 75);
}
.smodselect_css::selection{
    background-color: #17a;
}

/*
    Form
*/

.form_css{
    color: white;
}


/*
    Tabela
*/
.tabela{
    background-color: rgb(126, 164, 221);
    inline-size: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
}


.tabela th{
    background-color: rgb(126, 164, 221);
}
.tabela tr{
    background-color: rgb(196, 220, 255)
}
.limite{
    background-color: rgb(126, 164, 221);
}

h1{
    color: white;
    text-align: center;
}


.formmod{
    height: 100%;
    width: 100%;
    margin-bottom: 0%;
}




.inseriri_but{
width: 100%;
font-size: 200%;
margin-bottom: -1.2%;
background-color: rgb(104, 241, 116);
}
.inseriri_but :hover{
    background-color: #17a;
}
.limite :hover{
    background-color: #17a;
}

.centrar{
    vertical-align: middle;
}

.button {
    background-color: #fff;
    border: 1px solid white;
    color: black;
    padding: 10px 32px; /* y x */ 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 130%;
    border-radius: 2px;
    transition-duration: 0.2s;  /* transição entre hover */
  }

  .forms{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    background-image: url(../imagens/login_background.jpg);
  }

  #formprincipal{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    background-image: url(../imagens/login_background.jpg);
  }

  #forminserir{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
  }